
@media(max-width: 1199px) and (min-width: 1024px){


}
@media(max-width: 1023px) and (min-width: 992px){


}
@media (max-width: 499px){
.main-header .col-lg-3.col-md-6.col-6.col-custom {
    width: calc(100% - 100px) !important;
    max-width: 100% !important;
    flex: 0 0 auto !important;
}
}

@media(max-width: 767px){
    .main-styled-card {
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100% !important;
}
.tile_head {
    font-size: 24px !important;
    font-weight: 700 !important;
    margin-bottom: 20px !important;
}
.font-15 .bold_con br {
    display: none !important;
}
.btn_c a{
    font-size: 14px !important;
}
.details_head:after{
 bottom: -10px !important;   
}
.ginput_container.ginput_container_date {
    width: 100% !important;
    margin-right: 0 !important;
}
.ginput_container.ginput_container_date:last-child{
      width: 100% !important;
}
.gform_legacy_markup_wrapper .clear-multi {
    display: block !important;
}
#field_4_43 {
    display: block !important;
    width: 100% !important;
}
#field_4_16 {
    width: 100% !important;
    float: none !important;
}
#field_4_18 {
    width: 100% !important;
    float: none !important;
}
#field_4_20 {
    width: 100% !important;
    float: none !important;
}
#field_4_17 {
    width: 100% !important;
    float: none !important;
}
#field_4_19 {
    width: 100% !important;
    float: none !important;
}
}

@media(max-width: 991px){
    
.ginput_container.ginput_container_date {
    width: 100% !important;
    margin-right: 0 !important;
}
.ginput_container.ginput_container_date:last-child{
      width: 100% !important;
}
.gform_legacy_markup_wrapper .clear-multi {
    display: block !important;
}
#field_4_43 {
    display: block !important;
    width: 100% !important;
}
#field_4_16 {
    width: 100% !important;
    float: none !important;
}
#field_4_18 {
    width: 100% !important;
    float: none !important;
}
#field_4_20 {
    width: 100% !important;
    float: none !important;
}
#field_4_17 {
    width: 100% !important;
    float: none !important;
}
#field_4_19 {
    width: 100% !important;
    float: none !important;
}
}
@media(min-width: 992px) and (max-width: 1199px){
 .list_col.social_y li {
    margin-right: 4px;
} 
.client_details_rev {
    padding: 25px;
    box-sizing: border-box;
} 
.our_yg h6{
    font-size: 16px;	
} 
.btn_tdf a{
	font-size: 12px;
}
.our_thd p {
    min-height: 100px;
    margin-bottom: 0;
}
.delet_product{
 right: -15px;
    top: -5px;   
}
h6.num_g{
    font-size: 16px;
}
.icon_gdet p {
    min-height: 150px;
}
.contact_det .conta_details_g .icon_gdet p {
    min-height: unset;
}
}
@media(min-width: 768px) and (max-width: 991px){
li.mobile-menu-btn.d-lg-none {
    margin-left: 10px;
} 
.our_thd p {
    min-height: 100px;
}
.coach_name_tag h5 {
    font-size: 14px;
} 
.client_details_rev {
    padding: 25px;
    box-sizing: border-box;
}
.title_G span {
    line-height: 15px;
    display: block;
}
.title_G h6 {
    font-size: 12px;
}
.list_col.social_y li {
    margin-right: 2px;
}
.list_col.social_y li a img {
    width: 25px;
}
.mobile-menu-btn.d-lg-none {
    margin-left: 15px;
}
.img_icon {
    width: 150px;
}
.details_head b br {
    display: none;
}
.tile_head{
font-size: 20px
}
.our_yg h6{
	font-size: 16px;
}
.conta_details_g {
    margin-bottom: 25px;
}
.img_icon {
    margin: auto;
}
.play_img::after{
    background-size: contain;  
}
.title_g {
    font-size: 16px;
}
.btn_or a{
    padding: 15px 10px;
    font-size: 13px;
    margin-bottom: 10px;  
    box-sizing: border-box;
}
.our_trs i {
    font-size: 30px;
    line-height: 30px;
    width: 100%;
    position: relative;
    top: 1px;
    right: -3px;
}
.our_trs {
    font-size: 30px;
    padding: 0;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}
.our_catero ul li{
     padding: 0 15px;
     box-sizing: border-box;   
}
button.btn.btn-primary.ggsr{
  position: absolute;  
}
.section05 .our_thd h5{
 min-height: 45px;   
}
.section05 .our_thd p {
    min-height: 170px;
}
.list_tab ul li br {
    display: none;
}
.delet_product {
    position: absolute;
    right: -25px;
    top: -5px;
}
.our_product_price p {
    text-align: center;
}
}



@media(max-width: 767px){
    .header-right-area.main-nav > ul > li.mobile-menu-btn {
    margin-left: 10px;
}
.form_site {
    float: left;
    margin-top: 20px;
}
.list_col {
    margin-bottom: 15px;
}

.our_coach {
    margin-bottom: 20px;
}
.img_icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
}
.img_icon img {
    width: 60px;
}
.mainimg{
    display: block;
}
.our_thd {
    padding-left: 0;
    width: 100%;
    display: block;
}
.section02 .col-md-2 {width: 20%;}

.section02 .col-md-2 .seen_1 {width: 50px;}
.brn_more {
    margin-bottom: 20px;
}
.ihgrd{
     max-width: 100%;   
}
.client_details_rev{
      padding: 25px;  
      box-sizing: border-box;
}
.copy_right {text-align: center;}

.our_f {text-align: center !important;}

.copy_right p {margin-bottom: 0;}
.main-header{
    padding: 0;
}
.pb {
    padding-bottom: 50px;
}
.pt {
    padding-top: 50px;
}
.main_head h1{
 font-size: 24px;   
}
.list_tab ul li br {
    display: none;
}
.list_tab ul li {
    line-height: 16px;
    font-size: 13px;
    padding-bottom: 10px;
}
.main_near{
padding-top:25px;    
}
.main_near:hover{
    transform: translate(0px, -25px);    
}
.conta_details_g {
    margin-bottom: 25px;
}
.img_icon {
    margin: auto;
}
.img_icon img {
    width: 50px;
    object-fit: contain;
    height: 50px;

}
.our_fomr ul li {
    display: block;
    margin-bottom: 10px;
}
.btn.btn-primary.btndr{
    margin-left: unset;	
}
.our_about_us ul li {
    padding-bottom: 20px;
}
.for_desktop{
    display: none;
}
.for_mobile{
    display: flex;
}
.tile_head br {
    display: none;
}
.play_img::after{
     background-size: contain;   
}
.details_head br {
    display: none;
}
.list_capm_book_details .button{
      margin-right: 0;  
}
.fomr_cong.pb .pb20{
padding-bottom: 0;
}
.our_select label.form-label {
    display: block;
}
.our_camp_book_img {
    padding-top: 20px;
}

.our_camp_book_img .play_img::after{
       bottom: 30px; 
}
.needs-validation .our_select select {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
}
.details_head br {
    display: none;
}
.our_shet tbody tr .d-flex {
    display: block !important;
}
.delet_product{
      top: -25px;  
}
.accordion__button{
 font-size: 14px;   
}
.btn_hg .btn_tdf a {
    font-size: 14px;
}
.nav_tabs_table .nav-tabs li.nav-item button {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}
.nav_tabs_table .nav-tabs{
 column-gap: 2px;   
}
.our_catero {
    max-width: 100%;
    float: none;
    width: 100%;
}
.serch_list {
    position: relative;
}
.serch_list {
    width: 100%;
    float: none;
}
button.btn.btn-primary.ggsr{
 position: absolute;
    top: 0;
    right: 0;   
}
.serch_list .input-group {
    justify-content: end;
    padding: 0;
}
.serch_list .input-group .form-outline {
    width: 100%;
}
.our_catero ul li{
 padding: 0 15px 0px 15px;   
}
.our_trs i {
    
    font-size: 30px;
    line-height: 30px;
    width: 100%;
    position: relative;
    top: 1px;
    right: -3px;
}
.our_trs {
    font-size: 30px;
    padding: 0;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}
.play_img::after{
    right: 30px;
}
.section05 .our_thd{
text-align: center;
}
.section05 .our_thd h5{
text-align: center;
}
.play_img::after{
 right: 40px;   
}
.our_camp_book_img .play_img::after{
 bottom: 60px;
 right: 41px;   
}
.delet_product{
    top: -5px;
    right: -15px;
}
.our_product_price p {
    text-align: center;
}
}


@media (max-width: 499px) {
  .main-header-area .header-logo img {
    width: 80px;
}
.btn_book {
    display: inline-block;
    background: #F39200;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-right: 10px;
    border-radius: 10px;
}
.header-right-area.main-nav > ul > li.minicart-wrap {
    margin-right: 15px;
}
.header-right-area.main-nav > ul > li.minicart-wrap .minicart-btn img {
    max-width: 20px;
}
.main-header .col-lg-2.col-xl-2.col-md-6.col-6.col-custom {max-width: 100px;}

.main-header .col-lg-3.col-md-6.col-6.col-custom {width: calc(100% - 100px);}

    
}

@media(max-width: 449px){
    .btn_book a {
    color: #fff;
    font-size: 10px;
}
.btn_book {
    background: #F39200;
    padding: 3px 7px;
    margin-right: 5px;
    border-radius: 10px;
}
.btn_tdf a {
    font-size: 13px;
}
}
